<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xam"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".XamApplication"
        android:allowBackup="true"
        android:icon="@drawable/xam"
        android:label="@string/app_name"
        android:theme="@style/MMTheme.Basic">
        <activity
            android:name="com.xam.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CircleProgressActivity"></activity>
        <activity android:name=".activity.ClearEditTextActivity"></activity>
        <activity android:name=".activity.DragGridViewActivity"></activity>
        <activity android:name=".activity.ImageScanActivity"></activity>
        <activity android:name=".activity.LibraryActivity"></activity>
        <activity android:name=".activity.PhotoAlbumActivity"></activity>
        <activity android:name=".activity.ShowImageActivity"></activity>
        <activity android:name=".activity.ShowPhotoActivity"></activity>
        <activity android:name=".activity.SlideCutListViewActivity"></activity>
        <activity android:name=".activity.SortListViewActivity"></activity>
        <activity android:name=".activity.SwipeActivity"></activity>
        <activity android:name=".activity.CustomCrashActivity" ></activity>
        <activity android:name=".asyncimageloader.AsyncImageLoaderActivity" ></activity>
        <activity android:name=".activity.SingleTouchViewActivity" ></activity>
    </application>

</manifest>